{% extends 'website/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
{{ block.super }}
{% endblock title %}

{% block header %}
    <script>
      setTimeout(function(){
        $('#loader-wrapper').addClass('loaded');
        $('#homepage').toggleClass('fade');
      }, {{timeout}});
    </script>
{% endblock header %}

{% block content %}
<div id="homepage">
  <section id="main">
    <div class="blurb">
        <h1>We are<br><span>The Earth is Square</span></h1>
        <h2>and we're making the internet
          <span>interesting.</span>
        </h2>
    </div>
  </section>
  <section id="superpowers">
    <div class="superpowers-wrapper">
      <div class="content-wrapper">
        <div class="blurb">
          <h1 class="header">Our <span>Superpowers.</span></h1>
          <p class="text">With years of training and fighting crime, we've helped bring the standards of digital
            design, marketing, and web development to a new level. We intend to keep pushing that
            standard, changing the digital space 1 brand a time.</p>
        </div>
        <div class="superpower-panel -web" style="background-image: url('{% static 'website/images/superpower1.png' %}')">
          <div class="content">
            <h3 class="header">Web Design</h3>
            <p class="text">We can use our expert design eye to design a beautiful and impactful website for you to impress.</p>
            <a class="learn-more" href="{% url 'services' %}">Learn More</a>
          </div>
          <i class="icon fas fa-3x fa-pencil-alt"></i>
        </div>
        <div class="superpower-panel -marketing" style="background-image: url('{% static 'website/images/superpower2.png' %}')">
          <div class="content">
            <h3 class="header">Web Development</h3>
            <p class="text">This is the really cool bit, where we can help bring your web presence to life with our web development services.</p>
            <a class="learn-more" href="{% url 'services' %}">Learn More</a>
          </div>
          <i class="icon fas fa-3x fa-code"></i>
        </div>
      </div>
    </div>
  </section>
  <section id="origin">
    <div class="origin-wrapper">
      <div class="content-wrapper">
        <div class="blurb">
          <h1 class="header">Our <span>Origin</span> Story.</h1>
          <p class="text">The Earth is Square Digital Agency was founded by a human named Mitchell. He started his online career building his own brand on YouTube,
          amassing over <span>70,000 followers</span> on the platform with over <span>10 million views.</span>
          <br><br>
          Mitchell now works as a software developer in Melbourne, and outside of his day job he helps brands and businesses build beautiful websites
          and stake their claim on the internet.
          </p>
          <div class="button">
            <a class="btn btn-primary" href="{% url 'about' %}">Find Out More</a>
          </div>
        </div>
        <div class="profiles">
          {% for profile in profiles %}
          <div class="profile">
            <div class="frame">
              <img class="resp-img avatar" src="{{ profile.avatar }}" alt="{{ profile.name }}"/>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section id="home-portfolio">
    <div class="portfolio-wrapper">
      <div class="content-wrapper">
        <div class="blurb">
          <h1 class="header">We Like To <span>Show Off.</span></h1>
          <p class="text">We work hard, and we want to show that off. Here are some of our most recent projects for you to get
            jealous of. And, who knows, maybe your brand will be the next project who gets to sit here.
          </p>
        </div>
        <div class="portfolio">
          {% for project in projects %}
          <div class="project">
            <div class="overlay">
              <h2 class="header"><span>{{project.client}}</span></h2>
              <h3 class="type">{{project.type}}</h3>
              <a href="/portfolio/{{ project.parsed_client }}" class="look">LET'S HAVE A LOOK --></a>
            </div>
            <figure class="project-item">
              {% if forloop.counter == 1 or forloop.counter == 4 %}
              <img class="project-img" src="{{ project.large_avatar }}"/>
              {% else %}
              <img class="project-img" src="{{ project.avatar }}"/>
              {% endif %}
            </figure>
            <a href="/portfolio/{{ project.parsed_client }}" class="project-link"></a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
