{% extends 'website/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
Our Services - {{ block.super }}
{% endblock title %}

{% block header %}
<script>
$(document).ready(function() {
  $('.menu-item.{{ services.0.tag }}').click(function() {
    $('#services-page').switchClass('{{ services.1.tag }}', '{{ services.0.tag }}');
  });
  $('.menu-item.{{ services.1.tag }}').click(function() {
    $('#services-page').switchClass('{{ services.0.tag }}', '{{ services.1.tag }}');
  });
});
</script>
{% endblock header %}

{% block content %}
<section id="services-page">
  <div class="services-menu">
    {% for service in services %}
    <a href="#" class="menu-item {{ service.tag }}">
      <i class="{{ service.fa_icon }} icon"></i>
      <h2 class="header">{{ service.name }}</h2>
    </a>
    {% endfor %}
    <span class="menu-slider"></span>
  </div>
  {% for service in services %}
  <div class="content {{ service.tag }}">
    <div class="image">
      <img class="resp-img" src="{{ service.image }}"/>
    </div>
    <div class="text">
      <div class="header">
        <h1 class="title"><span>{{ service.name }}</span></h1>
        <h2 class="tagline"><span>{{ service.tagline }}</span></h3>
      </div>
      <div class="description">{{ service.description|safe }}</div>
    </div>
    <div class="extra">
      {% if included_services != None %}
        <h2 class="include-header"><span>Includes:</span></h2>
        <div class="included-services">
          {% for included_service in included_services %}
            {% if included_service.parent_service == service %}
            <div class="service">
              <i class="{{ included_service.fa_icon }} fa-3x"></i>
              <h3 class="name">{{ included_service.name }}</h3>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {% if addon_services != None %}
        <h2 class="addon-header"><span>Extras:</span></h2>
        <div class="addon-services">
          {% for addon_service in addon_services %}
            {% if addon_service.parent_service == service %}
            <div class="service">
              <i class="{{ addon_service.fa_icon }} fa-3x"></i>
              <h3 class="name">{{ addon_service.name }}</h3>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</section>
{% endblock content %}
