@import 'variables';
@import 'animations';
@import 'loading';
@import 'navigation';
@import 'home';
@import 'portfolio';
@import 'services';
@import 'contact';
@import 'team';
@import 'bootstrap/bootstrap';

html, body {
  min-height: 100vh;
  margin: 0;
}

body {
  min-height: 100%;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: $earth-dark-grey;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: .5rem;
}

.h1,h1 {
    font-size: 2.5rem
}

.h2,h2 {
    font-size: 2rem
}

.h3,h3 {
    font-size: 1.75rem
}

.h4,h4 {
    font-size: 1.5rem
}

.h5,h5 {
    font-size: 1.25rem
}

.h6,h6 {
    font-size: 1rem
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
    color: $square-pink;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #3dc0c7;
    border-color: #3dc0c7;
    &:hover {
    color: #fff;
    background-color: #32a6ac;
    border-color: #2f9ca2;
    }
}

.btn-outline-secondary {
    color: #fe5186;
    background-color: transparent;
    background-image: none;
    border-color: #fe5186;
    &:hover {
      color: #fff;
      background-color: #fe5186;
      border-color: #fe5186;
    }
}

.resp-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.dev-mode {
  padding: 10px;
  font-weight: bold;
  position: fixed;
  top: 75px;
  right: 0;
  text-transform: uppercase;
  z-index: 2000;
  margin-left: -85px;
}

#grid-wrapper {
  display: grid;
  grid-template: 75px auto 300px / repeat(12, 1fr);
  grid-template-areas:
    "n n n n n n n n n n n n"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
  #content-wrapper {
    grid-area: c;
    min-height: 100vh;
    .homepage {
      position: relative;
      overflow: hidden;
      transition: all 0.5s ease;
      opacity: 0;
      transition: opacity 2s ease-out;
      &.fade {
        opacity: 1;
      }
    }
  }
}

#footer {
  grid-area: f;
  color: white;
  background-color: $earth-dark-grey;
  text-align: center;
  height: $footer-height;
  display: grid;
  grid-template: 240px 60px / repeat(12, 1fr);
  grid-template-areas:
    ". n n n n s s s s s s s"
    "c c c c c c c c c c c c";
  background-color: $square-pink;
  color: white;
  align-items: center;
  grid-gap: 15px 15px;
  @media #{$bp-md}{
    grid-template-areas:
      ". l l l . n n n s s s s"
      "c c c c c c c c c c c c";
  }
  .logo {
    grid-area: l;
    padding: 20px;
    display: none;
    @media #{$bp-md}{
      display: block;
    }
  }
  .navigation {
    grid-area: n;
    list-style-type: none;
    text-align: left;
    padding: 20px;
    margin: 0;
    .header {
      font-weight: 900;
      span {
        background-color: $square-light-blue;
      }
    }
  }
  .socials {
    grid-area: s;
    list-style-type: none;
    text-align: center;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    .header {
      grid-column: 1 / -1;
      font-weight: 900;
      span {
        background-color: $square-light-blue;
      }
    }
  }
  .copyright {
    grid-area: c;
    background-color: $square-dark-blue;
    padding: 20px;
  }
}
