@import 'variables';
@import 'animations';
@import 'loading';
@import 'navigation';
@import 'admin';
@import 'portfolio';
@import 'services';
@import 'contact';
@import 'bootstrap/bootstrap';

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body {
  min-height: 100%;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  color: $earth-dark-grey;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

b, strong {
    font-weight: bolder;
}

a {
  text-decoration: none;
  color: none;
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
    color: $earth-green;
  }
}

#footer {
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 10px 50px;
  background-color: $earth-dark-grey;
  text-align: center;
}

#footer, .footer-push {
  height: $footer-height;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -50px;
  padding-top: $nav-height;
}

.landing-page {
  .logo {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .email {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.login-modal {
  border: none;
  .form {
    padding: 10px;
    .field {
      border: none;
      transition: all 0.5s ease;
      background-color: white;
      border-bottom: 1px solid #e9ecef;
      font-weight: 300;
      &:focus {
        background-color: rgba(67, 80, 88, 0.2);
        outline: none;
        box-shadow: none;
      }
      &::placeholder {
        color: $earth-dark-grey;
      }
    }
    .icon {
      background-color: white;
      border: none;
    }
    .footer {
      border-top: none;
      .submit {
        background-color: $earth-green;
        color: white;
      }
      .closeButton {
        background-color: $earth-dark-grey;
        color: white;
      }
    }
  }
}

.homepage {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  animation: colorchange 40s ease;
  animation-iteration-count: infinite;
  margin-top: -$nav-height;
  opacity: 0;
  &.fade {
    opacity: 1;
  }
  #particles-wrapper {
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -1;
    &.fade {
      opacity: 1;
    }
    #particles-js {
      display: none;
      position: absolute;
      height: 675px;
      width: 100%;
      canvas {
        position: absolute;
      }
      &.show {
        display: block;
      }
    }
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 980px 245px 0 0;
    border-color: #fff transparent transparent transparent;
    @media #{$bp-sm}{
      content: "";
      border-width: 980px 490px 0 0;
    }
    @media #{$bp-md}{
      content: "";
      left: -200px;
      border-width: 980px 980px 0 0;
    }
  }
  .content {
    margin-top: $nav-height;
    opacity: 0;
    &.fade {
      animation: fadeIn 2s ease;
      animation-fill-mode: forwards;
    }
    section {
      padding: 100px 0px;;
      &#main {
        height: 600px;
        padding: 0px;
        .blurb {
          padding-top: 180px;
          font-size: 2rem;
          font-weight: 900;
          text-transform: uppercase;
          transition: all 0.5s ease;
          text-align: center;
          animation: fadeInDown 2s ease;
          animation-fill-mode: forwards;
          @media #{$bp-md}{
            text-align: left;
          }
          &:hover {
            transform: scale(1.05,1.05);
          }
          span {
            background-color: $earth-dark-grey;
            color: white;
          }
        }
      }
      &#services {
        background-color: $earth-dark-grey;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        padding: 50px 0px;
        .services-container {
          min-height: 200px;
          color: white;
          padding: 20px 50px;
          opacity: 0;
          transition: all 0.5s ease;
          @media #{$bp-md}{
            padding: 20px 100px;
          }
          &.fade {
            animation: fadeInDown 2s ease;
            animation-fill-mode: forwards;
          }
          .header {
            text-align: center;
            margin-bottom: 50px;
            color: white;
            h2 {
              font-size: 3.5rem;
              @media #{$bp-md}{
                font-size: 4.5rem;
              }
            }
            @media #{$bp-md}{
              text-align: left;
            }
          }
          .blurb {
            text-align: center;
            @media #{$bp-md}{
              text-align: left;
            }
          }
          .services-list {
            list-style-type: none;
            padding-left: 0px;
            .service {
              height: 100px;
              display: table;
              width: 100%;
              border-bottom: 1px solid white;
              &:nth-child(1) {
                .-inner i {
                  color: $earth-red;
                }
              }
              &:nth-child(2) {
                .-inner i {
                  color: $earth-blue;
                }
              }
              &:nth-child(3) {
                .-inner i {
                  color: $earth-orange;
                }
              }
              &:nth-child(4) {
                .-inner i {
                  color: $earth-dark-green;
                }
              }
              &:last-child {
                border: none;
              }
              .-inner {
                display: table-cell;
                vertical-align: middle;
                color: white;
                font-weight: 500;
                transition: all 0.5s ease;
                padding: 0px 10px;
                &:hover {
                  background-color: $earth-green;
                  color: $earth-dark-grey;
                }
                i {
                  color: $earth-green;
                }
                .title {
                  vertical-align: super;
                  font-size: 1rem;
                  display: initial;
                }
              }
            }
          }
        }
      }
    }
  }
}

.profiles-container {
  margin-bottom: 15%;
  .profile {
    margin-top: 15%;
    animation: fadeInDown 2s ease;
    animation-fill-mode: forwards;
    &:hover {
      .frame{
        &.-hover {
          height: 100%;
          width: 100%;
          opacity: 1;
          z-index: 1001;
          background-color: $earth-dark-grey;
        }
      }
    }
    .frame-overlay {
      height: 100%;
      width: 100%;
      background-color: $earth-dark-grey;
      opacity: 0;
      transition: all 0.5s ease;
      position: absolute;
      display: inline-block;
      margin-left: -15px;
      display: table;
      .text {
        text-transform: uppercase;
        color: white;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        font-size: 1.5rem;
        font-weight: 900;
      }
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
    .frame {
      height: 250px;
      width: 250px;
      border-radius: 200px;
      overflow: hidden;
      margin: auto;
      margin-top: 20px;
      .avatar {
        height: auto;
        width: 250px;
      }
    }
    .name {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 0px;
    }
    .role {
      text-align: center;
    }
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      a {
        transition: all 0.5s ease;
        &:hover {
          color: $earth-green;
        }
      }
      .modal-body {
        text-align: center;
        @media #{$bp-md}{
          content: "";
          text-align: left;
        }
        .role {
          font-weight: 300;
          font-size: 1.2rem;
        }
      }
      .social {
        margin-top: 10px;
        a {
          color: $earth-dark-grey;
        }
        .email {
          margin-bottom: 10px;
          text-align: center;
        }
      }
      .modal-footer {
        border: none;
      }
    }
  }
}
