.dashboard {

  #header {
    background-color: $earth-green;
    color: $earth-dark-grey;
    height: 80px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

  #branding {
    a {
      position: absolute;
      height: 60px;
      .logo {
        height: 100%;
      }
    }
  }

  #user-tools {
    padding: 10px;
    a {
      &:link {
        color: $earth-dark-grey;
      }
      &:visited {
        color: $earth-dark-grey;
      }
    }
  }

  #content {
    width: auto;
    caption {
      caption-side: top;
    }
  }
}
