#homepage {
  display: grid;
  grid-template: 100vh auto auto auto / repeat(12, 1fr);
  grid-gap: 100px 0px;
  grid-template-areas:
    "main main main main main main main main main main main main"
    "powers powers powers powers powers powers powers powers powers powers powers powers"
    "origin origin origin origin origin origin origin origin origin origin origin origin"
    ". portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio .";
  opacity: 0;
  transition: opacity 2s ease-out;
  @media #{$bp-md}{
    grid-template-areas:
      "main main main main main main main main main main main main"
      ". . powers powers powers powers powers powers powers powers powers powers"
      "origin origin origin origin origin origin origin origin origin origin . ."
      ". . portfolio portfolio portfolio portfolio portfolio portfolio portfolio portfolio . .";
  }
  &.fade {
    opacity: 1;
  }
  #main {
    grid-area: main;
    height: 100vh;
    padding: 0px;
    display: grid;
    grid-template: auto / repeat(6, 1fr);
    grid-template-areas:
      "blurb blurb blurb blurb blurb blurb";
    @media #{$bp-md}{
    grid-template-areas:
      ". blurb blurb blurb blurb .";
    }
    .blurb {
      grid-area: blurb;
      margin-top: 20vh;
      font-size: 2rem;
      text-transform: uppercase;
      transition: all 0.5s ease;
      text-align: center;
      opacity: 1;
      animation: break 2s ease;
      animation-fill-mode: forwards;
      @media #{$bp-md}{
        text-align: left;
        font-size: 3rem;
        margin-top: 30vh;
      }
      h1 {
        font-weight: 900;
        font-size: 4.5rem;
        span {
          background-color: $square-pink;
          color: white;
        }
      }
      h2 {
        font-weight: 900;
        span {
          background-color: $square-light-blue;
          color: white;
        }
      }
      &:hover {
        transform: scale(1.05,1.05);
      }
    }
  }
  #superpowers {
    grid-area: powers;
    .superpowers-wrapper {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 60px;
        border-radius: 5px;
        pointer-events: none;
      }
      .content-wrapper {
        background-color: $square-dark-blue;
        color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: $square-light-blue 20px 20px 0 0;
        display: grid;
        grid-template: auto auto auto / repeat(12, 1fr);
        grid-gap: 20px 20px;
        grid-template-areas:
          "blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb"
          "web web web web web web web web web web web web"
          "marketing marketing marketing marketing marketing marketing marketing marketing marketing marketing marketing marketing";
        @media #{$bp-md}{
          padding: 35px;
          grid-template: auto auto / repeat(12, 1fr);
          grid-template-areas:
            "blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb"
            "web web web web web web marketing marketing marketing marketing marketing marketing";
        }
        @media #{$bp-lg}{
          grid-template-areas:
            "blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb . ."
            "web web web web web marketing marketing marketing marketing marketing . .";
        }
        .blurb {
          grid-area: blurb;
          text-align: center;
          @media #{$bp-md}{
            text-align: left;
          }
          .header {
            font-weight: 900;
            font-size: 2.5rem;
            @media #{$bp-md}{
              font-size: 3rem;
            }
            span {
              background-color: $square-pink;
            }
          }
          .text {
            font-size: 1.4rem;
          }
        }
        .superpower-panel {
          background-color: white;
          border-radius: 15px;
          padding: 25px;
          color: $earth-dark-grey;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
          margin-bottom: 15px;
          background-size: cover;
          background-position: right;
          display: grid;
          grid-template: auto / repeat(12, 1fr);
          grid-template-areas:
            "content content content content content content content content content content icon icon";
          &.-web {
            grid-area: web;
          }
          &.-marketing {
            grid-area: marketing;
          }
          .content {
            grid-area: content;
            padding: 20px 70px 20px 10px;
            .header {
              font-weight: bold;
            }
            .text {
              font-size: 1rem;
            }
            .learn-more {
              font-size: 0.8rem;
              font-weight: bold;
            }
          }
          i {
            grid-area: icon;
          }
        }
      }
    }
  }
  #origin {
    grid-area: origin;
    .origin-wrapper {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 60px;
        border-radius: 5px;
        pointer-events: none;
      }
      .content-wrapper {
        background-color: $square-dark-blue;
        color: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: $square-pink -20px 20px 0 0;
        display: grid;
        grid-gap: 20px 0px;
        grid-template: auto auto / repeat(12, 1fr);
        grid-template-areas:
          "profiles profiles profiles profiles profiles profiles profiles profiles profiles profiles profiles profiles"
          "blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb";
        @media #{$bp-md}{
          padding: 20px;
        }
        @media #{$bp-lg}{
          grid-template: auto / repeat(12, 1fr);
          grid-gap: 20px 20px;
          grid-template-areas:
            ". . profiles profiles profiles blurb blurb blurb blurb blurb blurb blurb";
        }
        .blurb {
          grid-area: blurb;
          text-align: center;
          margin-bottom: 20px;
          display: grid;
          grid-template: auto auto auto / 1fr;
          grid-template-areas:
            "header"
            "text"
            "button";
          @media #{$bp-lg}{
            text-align: right;
          }
          .header {
            grid-area: header;
            font-weight: 900;
            font-size: 3rem;
            span {
              background-color: $square-pink;
            }
          }
          .text {
            grid-area: text;
            font-size: 1.4rem;
            span {
              font-weight: bold;
              background-color: $square-pink;
            }
          }
          .button {
            grid-area: button;
            margin-top: 35px;
            text-align: center;
            .btn {
              font-weight: 900;
              font-size: 2.4rem;
              text-transform: uppercase;
              color: white;
              padding: .200rem .75rem;
              box-shadow: #fe5186 -20px -20px 0px 0px;
              @media #{$bp-md}{
                font-size: 3rem;
              }
            }
          }
        }
        .profiles {
          grid-area: profiles;
          display: grid;
          grid-template: 1fr / 1fr 1fr;
          align-items: center;
          @media #{$bp-lg}{
            grid-template: 1fr 1fr / 1fr;
          }
          .profile {
            margin-bottom: 10px;
            &:hover {
              .frame{
                &.-hover {
                  height: 100%;
                  width: 100%;
                  opacity: 1;
                  z-index: 1001;
                  background-color: $earth-dark-grey;
                }
              }
            }
            .frame-overlay {
              height: 100%;
              width: 100%;
              background-color: $earth-dark-grey;
              opacity: 0;
              transition: all 0.5s ease;
              position: absolute;
              display: inline-block;
              margin-left: -15px;
              display: table;
              .text {
                text-transform: uppercase;
                color: white;
                text-align: center;
                vertical-align: middle;
                display: table-cell;
                font-size: 1.5rem;
                font-weight: 900;
              }
              &:hover {
                opacity: 0.8;
                cursor: pointer;
              }
            }
            .frame {
              height: 150px;
              width: 150px;
              border-radius: 50%;
              overflow: hidden;
              margin: auto;
              border: 5px white solid;
              @media #{$bp-sm}{
                height: 200px;
                width: 200px;
              }
              .avatar {
                height: auto;
                width: 250px;
              }
            }
            .name {
              text-align: center;
              margin-top: 30px;
              margin-bottom: 0px;
            }
            .role {
              text-align: center;
            }
          }
        }
      }
    }
  }
  #home-portfolio {
    grid-area: portfolio;
    .portfolio-wrapper {
      @media #{$bp-lg}{
        background-color: transparent;
      }
      .content-wrapper {
        .blurb {
          text-align: center;
          @media #{$bp-md}{
            text-align: left;
          }
          .header {
            font-weight: 900;
            font-size: 3rem;
            span {
              background-color: $square-light-blue;
              color: white;
            }
          }
          .text {
            font-size: 1.4rem;
          }
        }
        .portfolio {
          display: grid;
          grid-template: auto auto / repeat(3, 1fr);
          grid-template-areas:
            "a a b"
            "c d d";
          margin-bottom: 100px;
          .project {
            position: relative;
            &:nth-child(1) {
              grid-area: a;
            }
            &:nth-child(2) {
              grid-area: b;
            }
            &:nth-child(3) {
              grid-area: c;
            }
            &:nth-child(4) {
              grid-area: d;
            }
            .project-item {
              margin: 0;
              .project-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
              }
            }
            .project-link {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
            }
            .overlay {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 100%;
              opacity: 0;
              background-color: rgba(57, 178, 184, 0.8);
              transition: all 0.5s ease;
              .header {
                font-weight: 900;
                color: white;
                opacity: 0;
                transition: all 0.3s ease;
                pointer-events: none;
                span {
                  background-color: $square-pink;
                }
              }
              .look {
                color: white;
                position: absolute;
                bottom: 50px;
              }
              .type {
                color: white;
                opacity: 0;
                transition: all 0.3s ease;
                pointer-events: none;
              }
            }
            &:hover {
              .overlay {
                top: 0;
                padding: 40px 20px;
                opacity: 1;
                .header, .type {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}
