@import 'variables';
@import 'animations';
@import 'loading';
@import 'navigation';
@import 'admin';
@import 'portfolio';
@import 'services';
@import 'contact';
@import 'team';
@import 'bootstrap/bootstrap';

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body {
  min-height: 100%;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: $earth-dark-grey;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
    color: $square-pink;
  }
}

.resp-img {
  max-width: 100%;
  margin: auto;
}

.shapes {
  .rectangles {
    transform: rotate(330deg);
    top: 10%;
    left: -115%;
    position: absolute;
    @media #{$bp-sm}{
      left: -90%;
    }
    @media #{$bp-md}{
      left: -40%;
    }
    @media #{$bp-lg}{
      left: -35vw;
    }
    @media #{$bp-xl}{
      left: -15%;
    }
    .-rect {
      width: auto;
      height: 120px;
      position: absolute;
      filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.4));
      &.-pink {
        top: 100px;
      }
      &.-lightblue {
        top: 190px;
        left: 65px;
      }
    }
  }
  .rings {
    top: -150px;
    right: 50%;
    position: absolute;
    .-ring {
      width: auto;
      position: absolute;
      filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.4));
      &.-pink {
        height: 1000px;
      }
      &.-darkblue {
        height: 700px;
        top: -120px;
        left: 80px;
      }
    }
  }
  .pentagons {
    top: 50vh;
    right: 35vw;
    position: absolute;
    .-pentagon {
      width: auto;
      position: absolute;
      filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.4));
      &.-pink {
        height: 15vh;
        transform: rotate(20deg);
        left: -1vw;
        top: 15vh;
      }
      &.-darkblue {
        height: 25vh;
        transform: rotate(33deg);
        top: 13vh;
        right: -24vw;
      }
      &.-lightblue {
        height: 40vh;
        transform: rotate(-15deg);
        top: -10vh;
      }
    }
  }
  .triangles {
    top: 70vh;
    right: 65vw;
    position: absolute;
    .-triangle {
      width: auto;
      position: absolute;
      filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.4));
      &.-pink {
        height: 400px;
        transform: rotate(45deg);
      }
      &.-lightblue {
        height: 500px;
        transform: rotate(-10deg);
        left: -28vw;
        top: -5vw;
      }
    }
  }
}

.dev-mode {
  padding: 10px;
  font-weight: bold;
  position: fixed;
  top: 75px;
  right: 0;
  text-transform: uppercase;
  z-index: 2000;
  margin-left: -85px;
}

#wrapper {
  display: grid;
  grid-template: 75px auto 300px / repeat(12, 1fr);
  grid-template-areas:
    "n n n n n n n n n n n n"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
    #content-wrapper {
      grid-area: c;
      min-height: 100vh;
    }
}

#footer {
  grid-area: f;
  color: white;
  background-color: $earth-dark-grey;
  text-align: center;
  height: $footer-height;
  display: grid;
  grid-template: 240px 60px / repeat(12, 1fr);
  grid-template-areas:
    ". n n n n s s s s s s s"
    "c c c c c c c c c c c c";
  background-color: $square-pink;
  color: white;
  align-items: center;
  grid-gap: 15px 15px;
  @media #{$bp-md}{
    grid-template-areas:
      ". l l l . n n n s s s s"
      "c c c c c c c c c c c c";
  }
  .logo {
    grid-area: l;
    padding: 20px;
    display: none;
    @media #{$bp-md}{
      display: block;
    }
  }
  .navigation {
    grid-area: n;
    list-style-type: none;
    text-align: left;
    padding: 20px;
    margin: 0;
    .header {
      font-weight: 900;
      span {
        background-color: $square-light-blue;
      }
    }
  }
  .socials {
    grid-area: s;
    list-style-type: none;
    text-align: center;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    .header {
      grid-column: 1 / -1;
      font-weight: 900;
      span {
        background-color: $square-light-blue;
      }
    }
  }
  .copyright {
    grid-area: c;
    background-color: $square-dark-blue;
    padding: 20px;
  }
}
