/* Colours */
$earth-green: #DCF763;
$earth-dark-green: #29BF12;
$earth-red: #F21B3F;
$earth-orange: #FF9914;
$earth-blue: #08BDBD;

$dashboard-blue: #6494AA;

$earth-dark-grey: #202021;
$earth-grey: #435058;
$earth-light-grey: #848C8E;

$square-pink: #fe5186;
$square-light-blue: #3dc0c7;
$square-dark-blue: #36506b;

/* Breakpoints */
$bp-sm: "(min-width: 576px)"; // col-sm
$bp-md: "(min-width: 768px)"; // col-md
$bp-lg: "(min-width: 992px)"; // col-lg
$bp-xl: "(min-width: 1200px)"; // col-xl


/* Page Elements */
$nav-height: 75px;
$footer-height: 300px;
