{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>Admin Panel | The Earth is Square</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
<link rel="stylesheet" type="text/css" href="{% static "admin_panel/css/style.css" %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'admin_panel/js/all-min.js' %}"></script>
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %} dashboard"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Sidebar -->
    <nav id="sidebar">
      <div id="branding">
        <a href="{% url 'admin:index' %}">
          <img class="resp-img logo" src="{% static 'admin_panel/images/The-Earth-Is-Square-Digital-Agency-WhiteLogo.png' %}">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>General</span>
            </li>
            <li>
              <a href="/admin/">
                <i class="fa fa-home"></i>
                <span>Home</span>
              </a>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fa fa-tachometer-alt"></i>
                <span>Website Config</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="/admin/website/service">Services
                      <span class="badge badge-pill badge-success"></span>
                    </a>
                  </li>
                  <li>
                    <a href="/admin/website/project">Projects
                      <span class="badge badge-pill badge-success"></span>
                    </a>
                  </li>
                  <li>
                    <a href="/admin/website/setting">Custom Settings
                      <span class="badge badge-pill badge-success"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fa fa-users"></i>
                <span>User Management</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="/admin/auth/user">Users</a>
                  </li>
                  <li>
                    <a href="/admin/website/profile">Profiles</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="/">
                <i class="fas fa-arrow-left"></i>
                <span>Return to Site</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    <!-- Content -->
    <div id="content">
        {% block messages %}
            {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
            {% endif %}
        {% endblock messages %}
        {% block pretitle %}{% endblock %}
        <div class="title">
          {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        </div>
        {% block content %}
        {% block object-tools %}{% endblock %}
          {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear">
    </div>
    <!-- END Content -->

    {% block footer %}{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
