@keyframes fade {
  0% {
    -webkit-transform: translateY(-50px);
    -ms-transform:  translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: translateY(0px);
    -ms-transform:  translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
    -ms-transform:  translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes fade-main {
  0% {
    -webkit-transform: translateY(-50px);
    -ms-transform:  translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  25%, 100% {
    -webkit-transform: translateY(0px);
    -ms-transform:  translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translateY(-50px);
    -ms-transform:  translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: translateY(0px);
    -ms-transform:  translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
    -ms-transform:  translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
}

@-webkit-keyframes fade-main {
  0% {
    -webkit-transform: translateY(-50px);
    -ms-transform:  translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  25%, 100% {
    -webkit-transform: translateY(0px);
    -ms-transform:  translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.loaded {
  #loader-teis {
      opacity: 0;

      -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
              transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

  }
  #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    .loader-section {
      &.section-left {
          -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: translateX(-100%);  /* IE 9 */
                  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

                  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
      }
      &.section-right {
          -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: translateX(100%);  /* IE 9 */
                  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

          -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
      }
    }
  }
}

@keyframes menu-fade {
  0% {
    -webkit-transform: translateY(-50px);
    -ms-transform:  translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  25%, 100% {
    -webkit-transform: translateY(0px);
    -ms-transform:  translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes loading-bar {
  0% {
    right: 100%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    right: 0%;
    opacity: 0;
  }
}
