#contact-why-wrapper {
  opacity: 1;
  transition: all 0.5s ease;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  animation: zoomIn 1s ease;
  @media #{$bp-md}{
    top: 40%;
  }
  #contact-why {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    @media #{$bp-md}{
      top: 40%;
    }
    .btn.coffee, .btn.work, .btn.other {
      margin: 10px 0px;
    }
  }
  &.hide {
    opacity: 0;
    #contact-why {
      opacity: 0;
    }
  }
}

#email-success {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  font-size: 2rem;
  text-align: center;
  animation: fadeInDown 1s ease;
  animation-fill-mode: forwards;
  @media #{$bp-md}{
    top: 40%;
  }
  .title {
    font-weight: 500;
  }
}

.contact-form-wrapper {
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 10%;
  transition: all 0.5s ease;
  pointer-events: none;
  @media #{$bp-md}{
    top: 25%;
  }
  &.show {
    pointer-events: inherit;
    animation: fadeInDown 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }
  .contact-form {
    padding: 0px 20%;
    .textField {
      margin-bottom: 20px;
      input {
        padding: 5px 10px;
        width: 100%;
      }
    }
    button {
      margin: 10px 0px;
    }
    .content {
      textarea {
        padding: 10px;
        width: 100%;
      }
    }
  }
}
