@font-face {
  font-family: 'Futura-Extra-Black';
  src: url('../fonts/futura/Futura-Extra-Black.woff2') format('woff2'),
       url('../fonts/futura/Futura-Extra-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/Futura-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/Futura-Medium-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/Futura-Bold.ttf') format('truetype');
  font-style: bold;
}

@font-face {
  font-family: 'Futura-Light';
  src: url('../fonts/futura/Futura-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura-Light';
  src: url('../fonts/futura/Futura-Light-Italic.ttf') format('truetype');
  font-style: italic;
}
