#portfolio {
  padding: 50px 0px;
  background-color: white;
  .portfolio-container {
    animation: fadeInDown 2s ease;
    animation-fill-mode: forwards;
    .header {
      font-size: 4.5rem;
      text-align: center;
      margin-bottom: 50px;
    }
    .projects-list {
      list-style-type: none;
      padding: 0px;
      .project {
        overflow: hidden;
        height: 300px;
        width: 300px;
        margin: auto;
        &:hover {
          .img {
            transform: scale(1.3,1.3);
          }
          .overlay {
            opacity: 1;
          }
        }
        .img {
          width: 300px;
          height: 300px;
          transition: all 0.5s ease;
          margin: auto;
          background-position: 60% 60%;
          background-size: cover;
        }
        a {
          color: white;
          .overlay {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.8);
            opacity: 0;
            transition: all 0.5s ease;
            position: absolute;
            width: 300px;
            height: 300px;
            display: table;
            z-index: 1000;
            .title {
              display: table-cell;
              vertical-align: middle;
              color: white;
            }
          }
        }
      }
    }
  }
}

#project {
  .project-banner {
    min-width: 100%;
    height: 400px;
    overflow: hidden;
    animation: fadeInDown 1s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
  .project-content {
    animation: fadeInUp 1s ease;
    .back-button {
      margin: 10px 0px;
    }
    .avatar-frame {
      overflow: hidden;
      border-radius: 5px;
    }
  }
}
