@import 'animations';
@import 'bootstrap/bootstrap';
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid.scss';
@import 'fonts';
@import 'variables';

html, #wrapper {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Futura-Light", Roboto, Arial, sans-serif;
  color: $earth-grey;
}

h1, h2, h3, h4, h5 {
  font-family: "Futura-Extra-Black", Roboto, Arial, sans-serif;
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

.landing-page {
  .logo {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .email {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.login-modal {
  border: none;
  .form {
    padding: 10px;
    .field {
      border: none;
      transition: all 0.5s ease;
      background-color: white;
      border-bottom: 1px solid #e9ecef;
      &:focus {
        background-color: rgba(67, 80, 88, 0.2);
        outline: none;
        box-shadow: none;
      }
      &::placeholder {
        color: $earth-dark-grey;
      }
    }
    .icon {
      background-color: white;
      border: none;
    }
    .footer {
      border-top: none;
      .submit {
        background-color: $earth-green;
        color: white;
      }
      .closeButton {
        background-color: $earth-dark-grey;
        color: white;
      }
    }
  }
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  .loading-bar {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 5px;
    background-color: $earth-green;
    animation: loading-bar 5.5s ease;
    animation-fill-mode: forwards;
    border: 2px solid $earth-green;
    z-index: 1001
  }
  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: $earth-dark-grey;
    z-index: 1000;
  }
  .loader-section.section-left {
    left: 0;
  }
  .loader-section.section-right {
    right: 0;
  }
  #loader-teis {
    display: block;
    position: relative;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 1001;
    color: #fff;
    font-family: "Futura-Extra-Black", Roboto, Arial, sans-serif;
    font-size: 3rem;
    margin-top: -36px;
    @media #{$bp-md} {
      margin-left: 40px;
    }
    .left {
      opacity: 0;
      animation: fade-main 1s ease;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      @media #{$bp-md} {
        text-align: right;
      }
    }
    .right {
      position: relative;
      @media #{$bp-md} {
        text-align: left;
      }
      .-square {
        animation: fade-main 2s ease;
        animation-delay: 3.5s;
        animation-fill-mode: forwards;
        color: $earth-green;
        opacity: 0;
        position: absolute;
        width: 100%;
      }
      .-unique {
        animation: fade 1s ease;
        animation-delay: 0.5s;
        opacity: 0;
        position: absolute;
        width: 100%;
      }
      .-different {
        animation: fade 1s ease;
        animation-delay: 1.5s;
        opacity: 0;
        position: absolute;
        width: 100%;
      }
      .-creative {
        animation: fade 1s ease;
        animation-delay: 2.5s;
        opacity: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
}

.background {
  background-color: rgba(220, 247, 99, 0.5);
  position: relative;
  overflow: hidden;
  #particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 980px 245px 0 0;
    border-color: #fff transparent transparent transparent;
    @media #{$bp-sm}{
      content: "";
      border-width: 980px 490px 0 0;
    }
    @media #{$bp-md}{
      content: "";
      left: -200px;
      border-width: 980px 980px 0 0;
    }
  }
}

.site-navbar {
  height: 75px;
  width: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 900;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1148px;
  padding-left: 30px;
  padding-right: 30px;
  .black-logo {
    height: 100%;
    margin-left: 20px;
  }
  .white-logo {
    position: absolute;
    height: 100%;
    left: 0;
    margin-left: 20px;
    padding-left: 30px;
    display: none;
    z-index: 1001;
    &.open {
      display: block;
    }
  }
  .opener {
    position: absolute;
    top: 0;
    right: 0;
    margin-top:  15px;
    margin-right: 40px;
    padding: 7px 14px;
    background-color: $earth-green;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1001;
    font-size: 1.3rem;
    transition: all 0.5s ease;
    width: 45px;
    height: 45px;
    text-align: center;
    &:hover {
      transform: translateY(5px);
    }
  }
  .label {
    float: right;
    margin-top: 28px;
    margin-right: 95px;
  }
  .nav-container {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: $earth-dark-grey;
    display: none;
    z-index: 1000;
    top: 0;
    left: 0;
    transition: display 0.5s ease;
    &.open {
      display: block;
      .navigation {
        animation: fade-main 2s ease;
        animation-fill-mode: forwards;
      }
    }
  }
  .navigation {
    top: 15%;
    text-align: center;
    font-family: "Futura", Roboto, Arial, sans-serif;
    position: relative;
    li {
      list-style-type: none;
      margin: 35px 0px ;
    }
    ul {
      padding: 0;
    }
    .item {
      color: white;
      transition: color 0.5s ease;
      padding: 10px 0px;
      &:hover {
        color: $earth-green;
      }
    }
  }
}

section {
  padding: 150px 0px;
  &.main-blurb {
    .blurb {
      font-size: 2rem;
      font-family: "Futura-Extra-Black", Roboto, Arial, sans-serif;
      text-transform: uppercase;
      transition: all 0.5s ease;
      text-align: center;
      @media #{$bp-md}{
        text-align: left;
      }
      &:hover {
        transform: scale(1.05,1.05);
      }
      span {
        background-color: $earth-green;
      }
    }
  }
}

.profiles-container {
  .profile {
    .avatar {
      border-radius: 200px;
    }
    .name {
      margin-top: 30px;
      margin-bottom: 0px;
    }
  }
}
