@import 'bootstrap/bootstrap';
@import 'fontawesome/fontawesome';
@import "fontawesome/solid.scss";
@import "fonts";
@import 'variables';

.landing-page {
  .logo {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .email {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.login-modal {
  border: none;
  .form {
    padding: 10px;
    .field {
      border: none;
      transition: all 0.5s ease;
      background-color: white;
      border-bottom: 1px solid #e9ecef;
      &:focus {
        background-color: rgba(67, 80, 88, 0.2);
        outline: none;
        box-shadow: none;
      }
      &::placeholder {
        color: $earth-dark-grey;
      }
    }
    .icon {
      background-color: white;
      border: none;
    }
    .footer {
      border-top: none;
      .submit {
        background-color: $earth-green;
        color: white;
      }
      .closeButton {
        background-color: $earth-dark-grey;
        color: white;
      }
    }
  }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: $earth-dark-grey;
        z-index: 1000;
    }
    .loader-section.section-left {
        left: 0;
    }
    .loader-section.section-right {
        right: 0;
    }
    #loader-teis {
      display: block;
      position: relative;
      top: 50%;
      width: 100%;
      z-index: 1001;
      color: #fff;
      font-family: "Futura-Extra-Black";
      font-size: 3rem;
      margin-top: -36px;
      .left {
        text-align: right;
        position: absolute;
        left: 0%;
        width: 53%;
        opacity: 0;
        animation: fade-main 1s ease;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
      }
      .right {
        position: relative;
        text-align: left;
        margin-left: 54%;
        margin-top: -48px;
        .-square {
          animation: fade-main 2s ease;
          animation-delay: 3.5s;
          animation-fill-mode: forwards;
          color: $earth-green;
          opacity: 0;
          position: absolute;
        }
        .-unique {
          animation: fade 1s ease;
          animation-delay: 0.5s;
          opacity: 0;
          position: absolute;
        }
        .-different {
          animation: fade 1s ease;
          animation-delay: 1.5s;
          opacity: 0;
          position: absolute;
        }
        .-creative {
          animation: fade 1s ease;
          animation-delay: 2.5s;
          opacity: 0;
          position: absolute;
        }
      }
    }

    @keyframes fade {
      0% {
        -webkit-transform: translateY(-50px);
        -ms-transform:  translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
      }
      25%, 75% {
        -webkit-transform: translateY(0px);
        -ms-transform:  translateY(0px);
        transform: translateY(0px);
        opacity: 1;
      }
      100% {
        -webkit-transform: translateY(50px);
        -ms-transform:  translateY(50px);
        transform: translateY(50px);
        opacity: 0;
      }
    }

    @keyframes fade-main {
      0% {
        -webkit-transform: translateY(-50px);
        -ms-transform:  translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
      }
      25%, 100% {
        -webkit-transform: translateY(0px);
        -ms-transform:  translateY(0px);
        transform: translateY(0px);
        opacity: 1;
      }
    }

    @-webkit-keyframes fade {
      0% {
        -webkit-transform: translateY(-50px);
        -ms-transform:  translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
      }
      25%, 75% {
        -webkit-transform: translateY(0px);
        -ms-transform:  translateY(0px);
        transform: translateY(0px);
        opacity: 1;
      }
      100% {
        -webkit-transform: translateY(50px);
        -ms-transform:  translateY(50px);
        transform: translateY(50px);
        opacity: 0;
      }
    }

    @-webkit-keyframes fade-main {
      0% {
        -webkit-transform: translateY(-50px);
        -ms-transform:  translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
      }
      25%, 100% {
        -webkit-transform: translateY(0px);
        -ms-transform:  translateY(0px);
        transform: translateY(0px);
        opacity: 1;
      }
    }
}

.loaded {
  #loader-teis {
      opacity: 0;

      -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
              transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

  }
  #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    .loader-section {
      &.section-left {
          -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: translateX(-100%);  /* IE 9 */
                  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

                  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
      }
      &.section-right {
          -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: translateX(100%);  /* IE 9 */
                  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

          -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
      }
    }
  }
}
