#dashboard {
  .header-row {
    margin-bottom: 20px;
    animation: fadeInDown 1s ease;
    animation-fill-mode: forwards;
    .header {
      color: white;
      text-align: center;
      @media #{$bp-md}{
        text-align: left;
      }
      &:hover {
        color: white;
      }
      h1 {
        font-weight: 700;
      }
    }
    .update-button {
      margin: auto;
      text-align: center;
      @media #{$bp-md}{
        text-align: left;
      }
    }
    .update-text {
      margin: auto;
      display: table;
      text-align: center;
      @media #{$bp-md}{
        text-align: left;
      }
      small {
        display: table-cell;
      }
    }
  }
  .stats-row {
    margin-bottom: 20px;
    animation: fadeInDown 1s ease;
    animation-fill-mode: forwards;
    .panel {
      background-color: $dashboard-light-blue;
      color: white;
      padding: 20px;
      border-radius: 2px;
      margin-bottom: 15px;
      @media #{$bp-md}{
        margin-bottom: 0px;
      }
      .panel-header {
        text-align: left;
        font-size: 0.8rem;
      }
      .count {
        h1 {
          font-size: 3.5rem;
          padding-left: 20px;
          border-left: 2px $earth-red solid;
          margin-top: 10px;
        }
      }
      &.-small {
        height: 150px;
      }
    }
  }
  .posts-row {
    margin-bottom: 20px;
    animation: fadeInUp 2s ease;
    animation-fill-mode: forwards;
    .instagram-post {
      margin: 10px 0px;
      background-color: $dashboard-light-blue;
      .card-body {
        height: 200px;
      }
    }
  }
}
