@import 'variables';
@import 'animations';
@import 'dashboard';
@import 'bootstrap/bootstrap';

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body {
  min-height: 100%;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  color: $dashboard-text-main;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

b, strong {
    font-weight: bold;
}

a {
  text-decoration: none;
  color: none;
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
    color: $dashboard-green;
  }
}

#footer {
  bottom: 0;
  left: 0;
  right: 0;
  color: $dashboard-text-main;
  padding: 10px 50px;
  background-color: $dashboard-panel-color;
  text-align: center;
}

#footer, .footer-push {
  height: $footer-height;
}

#wrapper {
  background-color: $dashboard-background-color;
  min-height: 100%;
  margin-bottom: -50px;
  padding-top: 10px;
}
