/* Colours */
$earth-green: #DCF763;
$earth-dark-green: #29BF12;
$earth-red: #F21B3F;
$earth-orange: #FF9914;
$earth-blue: #08BDBD;
$dashboard-dark-green: #173023;
$dashboard-light-green: #264732;
$dashboard-dark-blue: #171c30;
$dashboard-blue: #262d47;
$dashboard-light-blue: #2e3656;

$earth-dark-grey: #202021;
$earth-grey: #435058;
$earth-light-grey: #848C8E;

/* Breakpoints */
$bp-sm: "(min-width: 576px)"; // col-sm
$bp-md: "(min-width: 768px)"; // col-md
$bp-lg: "(min-width: 992px)"; // col-lg

/* Page Elements */
$nav-height: 75px;
$footer-height: 50px;
