@import './animations.scss';
@import './variables.scss';

body {
  margin: 0;
}

.container {
  padding: 0 10%;
  max-width: 1920px;
}

a {
  color: initial;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

:focus {
  outline: none;
}