{% extends 'dev/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
{{ block.super }}
{% endblock title %}

{% block header %}
    <script>
      setTimeout(function(){
        $('.homepage').toggleClass('fade');
      }, {{timeout}});
    </script>
{% endblock header %}

{% block content %}
<div class="homepage">
  <div class="content">
    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10">
            <h1 class="blurb">
                The Earth is Square is a digital agency, we're making the internet
              <span>
                interesting.
              </span>
            </h1>
          </div>
        </div>
      </div>
    </section>
    <section id="superpowers">
      <div class="superpowers-wrapper">
        <div class="content-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="blurb">
                  <h1 class="header">Our <span>Superpowers.</span></h1>
                  <p class="text">With years of training and fighting crime, we've helped bring the standards of digital
                    design, marketing, and web development to a new level. We intend to keep pushing that
                    standard, changing the digital space 1 brand a time.</p>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="superpower-panel">
                  <div class="row">
                    <div class="col-10">
                      <div class="content">
                        <h3 class="header">Web Development</h3>
                        <p class="text">We can help bring your web presence to life with our web design and development services.</p>
                        <a class="learn-more" href="#">Learn More --></a>
                      </div>
                    </div>
                    <div class="col-2">
                      <i class="fas fa-3x fa-code"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="superpower-panel">
                  <div class="row">
                    <div class="col-10">
                      <div class="content">
                        <h3 class="header">Digital Marketing</h3>
                        <p class="text">Let us help boost your social media knowledge and influence with our digital marketing expertise and strategies.</p>
                        <a class="learn-more" href="#">Learn More --></a>
                      </div>
                    </div>
                    <div class="col-2">
                      <i class="fas fa-3x fa-thumbs-up"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="backdrop"></div>
      </div>
    </section>
    <section id="origin">
      <div class="origin-wrapper">
        <div class="content-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-8 order-1 order-md-2">
                <div class="blurb">
                  <h1 class="header">Our <span>Origin</span> Story.</h1>
                  <p class="text">Both founders, Mitchell & Yani, started their online careers building their own brands on YouTube.
                  Together, they amassed over <span>300,000 followers</span> on the platform with over <span>50 million views.</span>
                  <br><br>
                  Mitchell now works as a software developer in Melbourne, while Yani continues to grow her YouTube and social following.
                  <br>
                  Together, they are unstoppable.
                  </p>
                  <div class="button">
                    <div class="button-back"></div>
                    <a class="btn btn-primary" href="{% url 'team' %}">Find Out More</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 order-2 order-md-1">
                {% for profile in profiles %}
                <div class="col-6 col-md-12 profile">
                  <div id="frame-{{ profile.id }}" class="frame-overlay">
                  </div>
                  <div class="frame">
                    <img class="img-fluid avatar" src="{{ profile.avatar }}" alt="{{ profile.name }}"/>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="backdrop"></div>
      </div>
    </section>
    <section id="home-portfolio">
      <div class="portfolio-wrapper">
        <div class="content-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="blurb">
                  <h1 class="header">We Like To <span>Show Off.</span></h1>
                  <p class="text">We work hard, and we want to show that off. Here are some of our most recent projects for you to get
                    jealous of. And, who knows, maybe your brand will be the next project who gets to sit here.{{ user.profile.role }}
                  </p>
                </div>
                <div class="portfolio">
                  <div class="row">
                    <div class="col-12 col-md-8 wrapper">
                      <div class="project -big">
                        <img class="img-fluid" src="{{ projects.0.large_avatar }}" alt="{{ projects.0.client }}"/>
                        <div class="overlay"></div>
                        <a href="#" class="link"></a>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 wrapper">
                      <div class="project -small">
                        <img class="img-fluid" src="{{ projects.0.avatar }}" alt="{{ projects.1.client }}"/>
                        <div class="overlay"></div>
                        <a href="#" class="link"></a>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 wrapper">
                      <div class="project -small">
                        <img class="img-fluid" src="{{ projects.0.avatar }}" alt="{{ projects.2.client }}"/>
                        <div class="overlay"></div>
                        <a href="#" class="link"></a>
                      </div>
                    </div>
                    <div class="col-12 col-md-8 wrapper">
                      <div class="project -big">
                        <img class="img-fluid" src="{{ projects.0.large_avatar }}" alt="{{ projects.3.client }}"/>
                        <div class="overlay"></div>
                        <a href="#" class="link"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock content %}
