{% extends 'dev/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
{{ block.super }}
{% endblock title %}

{% block header %}
    <script>
      setTimeout(function(){
        $('#homepage').toggleClass('fade');
      }, {{timeout}});
    </script>
{% endblock header %}

{% block content %}
<div id="homepage">
  <section id="main">
    <div class="blurb">
        <h1>We are<br><span>The Earth is Square</span></h1>
        <h2>and we're making the internet
          <span>interesting.</span>
        </h2>
    </div>
  </section>
  <section id="superpowers">
    <div class="superpowers-wrapper">
      <div class="content-wrapper">
        <div class="blurb">
          <h1 class="header">Our <span>Superpowers.</span></h1>
          <p class="text">With years of training and fighting crime, we've helped bring the standards of digital
            design, marketing, and web development to a new level. We intend to keep pushing that
            standard, changing the digital space 1 brand a time.</p>
        </div>
        <div class="superpower-panel -web" style="background-image: url('{% static 'website/images/superpower1.png' %}')">
          <div class="content">
            <h3 class="header">Web Development</h3>
            <p class="text">We can help bring your web presence to life with our web design and development services.</p>
            <a class="learn-more" href="#">Learn More</a>
          </div>
          <i class="icon fas fa-3x fa-code"></i>
        </div>
        <div class="superpower-panel -marketing" style="background-image: url('{% static 'website/images/superpower2.png' %}')">
          <div class="content">
            <h3 class="header">Digital Marketing</h3>
            <p class="text">Let us help boost your social media knowledge and influence with our digital marketing expertise and strategies.</p>
            <a class="learn-more" href="#">Learn More</a>
          </div>
          <i class="icon fas fa-3x fa-thumbs-up"></i>
        </div>
      </div>
    </div>
  </section>
  <section id="origin">
    <div class="origin-wrapper">
      <div class="content-wrapper">
        <div class="blurb">
          <h1 class="header">Our <span>Origin</span> Story.</h1>
          <p class="text">Both founders, Mitchell & Yani, started their online careers building their own brands on YouTube.
          Together, they amassed over <span>300,000 followers</span> on the platform with over <span>50 million views.</span>
          <br><br>
          Mitchell now works as a software developer in Melbourne, while Yani continues to grow her YouTube and social following.
          <br>
          Together, they are unstoppable.
          </p>
          <div class="button">
            <a class="btn btn-primary" href="{% url 'team' %}">Find Out More</a>
          </div>
        </div>
        <div class="profiles">
          {% for profile in profiles %}
          <div class="profile">
            <div class="frame">
              <img class="img-fluid avatar" src="{{ profile.avatar }}" alt="{{ profile.name }}"/>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section id="home-portfolio">
    <div class="portfolio-wrapper">
      <div class="content-wrapper">
        <div class="blurb">
          <h1 class="header">We Like To <span>Show Off.</span></h1>
          <p class="text">We work hard, and we want to show that off. Here are some of our most recent projects for you to get
            jealous of. And, who knows, maybe your brand will be the next project who gets to sit here.
          </p>
        </div>
        <div class="portfolio">
          {% for project in projects %}
          <div class="wrapper">
            <div class="overlay">
              <h1 class="header"><span>{{project.client}}</span></h1>
              <h2 class="type">{{project.type}}</h2>
              <a href="/portfolio/{{ project.parsed_client }}" class="look">LET'S HAVE A LOOK</a>
            </div>
            <div class="project">
              {% if forloop.counter == 2 or orloop.counter == 3 %}
              <img class="resp-img" src="{% static 'website/images/sushix-banner.png' %}" alt="{{ project.client }}"/>
              {% else %}
              <img class="resp-img" src="{% static 'website/images/tld-banner.png' %}" alt="{{ project.client }}"/>
              {% endif %}
              <a href="/portfolio/{{ project.parsed_client }}" class="link"></a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
