@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Passion+One:wght@900&display=swap');
@import 'variables';

* {
  font-family: inherit;
  box-sizing: border-box;
}

html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

button {
  cursor: pointer;
}

.v-popper--theme-dropdown {
  .v-popper__inner {
    margin-top: 1rem;
    box-shadow: var(--Shadow-L), var(--Shadow-Border) !important;
  }

  .v-popper__arrow-container {
    display: none;
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.spinning {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}