<div id="landing-page" class="container">
  <div class="row">
    <div class="col-xl-12 landing-page">
      <a data-toggle="modal" data-target="#loginModal">
        <img id="logo" class="logo" src="/static/website/images/logo.png" alt="The Earth is Square">
      </a>
      <p class="email"><b>Contact Us:</b> hello@theearthissquare.com</p>
    </div>
  </div>
</div>

<div id="loginModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content login-modal">
      <div class="modal-header header">
        <h3 class="modal-title title">Login</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form">
        <form role="form" action="" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text icon" id="login-addon">
                  <span class="fas fa-user"></span>
                </span>
              </div>
              <input type="text" name="username" class="form-control field" placeholder="Username" maxlength="30" aria-label="Username" aria-describedby="login-addon"/>
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text icon" id="login-addon">
                  <span class="fas fa-key"></span>
                </span>
              </div>
              <input type="password" name="password" class="form-control field" placeholder="Password" maxlength="30" aria-label="Password" aria-describedby="login-addon"/>
          </div>
          <div class="modal-footer footer">
            <input class="submit btn btn-block" type="submit">
            <button type="button" class="closeButton btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
