{% load static %}
<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134699162-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134699162-1');
    </script>
    <title>
      {% block title %}
      Web Development & Social Media Marketing - The Earth Is Square | Digital Agency
      {% endblock title %}
    </title>
    <meta charset='utf-8'>
    <meta name="description" content="
      THE EARTH IS SQUARE is an Australian based digital agency, specializing
      in Website Development & Social Media Marketing. Contact Us Today!"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'website/images/favicon.ico' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'website/js/all-min.js' %}"></script>
    {% block header %}{% endblock header %}
  </head>

  <body>
    {% if user.is_authenticated %}
    <div class="dev-mode">
      <form role="form" action="" method="post">
        {% csrf_token %}
        <button class="btn btn-outline-secondary" name="action" value="Dev_On" type="submit">Turn Dev Mode On</button>
      </form>
    </div>
    {% endif %}

    <!-- Loading Screen -->
    {% if request.get_full_path == '/' and timeout != 0 %}
      <div id="loader-wrapper">
        <div class="loading-bar"></div>
        <div class="loading-content">
          <div id="loader-teis">
            <div class="left">
              THE EARTH IS
            </div>
            <div class="right">
              <div class="-square">SQUARE</div>
              <div class="-unique">UNIQUE</div>
              <div class="-different">DIFFERENT</div>
              <div class="-creative">CREATIVE</div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div id="wrapper"
    {% if request.get_full_path == '/' %}
    style="background-image: url({% static 'website/images/background.png' %});"
    {% endif %}>
      <div id="grid-wrapper">
        <nav id="navbar" class="site-navbar">
          <a class="black-logo" href="{% url 'home' %}">
            <img class="resp-img" src="{% static 'website/images/The-Earth-Is-Square-Digital-Agency-BlackLogo.png' %}" alt="The Earth is Square">
          </a>
          <a class="white-logo" href="{% url 'home' %}">
            <img class="resp-img" src="{% static 'website/images/The-Earth-Is-Square-Digital-Agency-WhiteLogo.png' %}" alt="The Earth is Square">
          </a>
          <a class="btn btn-outline-secondary contact" href="{% url 'contact' %}">Contact</a>
          <div id="opener" class="opener">
            <div class="label">MENU</div>
            <div class="label -close">CLOSE</div>
            <div class="bars">
              <i class="fas fa-bars"></i>
            </div>
          </div>
          <div class="nav-container">
            <div class="navigation">
              <ul>
                <li>
                  <a href="{% url 'services' %}">
                    <h2 class="item">SERVICES</h2>
                  </a>
                </li>
                <li>
                  <a href="{% url 'portfolio' %}">
                    <h2 class="item">PORTFOLIO</h2>
                  </a>
                </li>
                <li>
                  <a href="{% url 'team' %}">
                    <h2 class="item">WHO ARE WE</h2>
                  </a>
                </li>
                <li>
                  <a href="{% url 'contact' %}">
                    <h2 class="item">CONTACT</h2>
                  </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'dashboard' %}">
                    <h2 class="item">DASHBOARD</h2>
                  </a>
                </li>
                <li>
                  <a href="{% url 'auth_logout' %}">
                    <h2 class="item">LOGOUT</h2>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
            <div class="social">
                <a href="https://www.twitter.com/_EarthIsSquare"><i class="fab fa-2x fa-twitter"></i></a>
                <a href="https://www.instagram.com/_earthissquare"><i class="fab fa-2x fa-instagram"></i></a>
                <a href="https://www.linkedin.com//company/19018595"><i class="fab fa-2x fa-linkedin"></i></a>
            </div>
          </div>
        </nav>
        <div id="content-wrapper">
          {% block content %}{% endblock content %}
        </div>
        <footer id="footer">
          <img class="logo resp-img" src="{% static 'website/images/The-Earth-Is-Square-Digital-Agency-WhiteLogo.png' %}" />
          <ul class="navigation">
            <h5 class="header"><span>Navigation</span></h5>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'team' %}">The Team</a></li>
            <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
          </ul>
          <div class="socials">
            <h5 class="header"><span>Let's Stay In Touch</span></h5>
            <a href="https://www.facebook.com/earthissquareagency">Facebook</a>
            <a href="https://www.twitter.com/_earthissquare">Twitter</a>
            <a href="https://www.instagram.com/_earthissquare">Instagram</a>
          </div>
          <div class="copyright">
            &copy; The Earth is Square {% now "Y" %}
          </div>
        </footer>
      </div>
    </div>
  </body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
