{% extends 'base.html' %}

{% block title %}
  Contact - {{ block.super }}
{% endblock %}

{% block content %}
{% if emailSent == True %}
<div id="email-success">
  <div class="title">
  Email Sent!
  </div>
  <div class="text">
    Your email has been sent, we'll be in touch shortly!
  </div>
</div>
{% else %}
<div id="contact-why-wrapper">
  <div id="contact-why" class="container">
    <h1>Why Are You Contacting Us Today?</h1>
    <div class="row">
      <div class="col-12 col-md-4">
        <button id="coffee" class="btn btn-primary btn-block coffee">Coffee Date</button>
      </div>
      <div class="col-12 col-md-4">
        <button id="hire" class="btn btn-warning btn-block work">Hire Us</button>
      </div>
      <div class="col-12 col-md-4">
        <button id="other" class="btn btn-info btn-block other">Other</button>
      </div>
    </div>
  </div>
</div>

<div id="contact-form-coffee" class="contact-form-wrapper">
  <div class="container">
    <h1 class="d-none d-md-block text-center">Let's Grab a Coffee</h1>
    <h3 class="d-md-none text-center">Let's Grab a Coffee</h3>
    <form role="form" action="" method="post">
      {% csrf_token %}
      <div class="contact-form">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="textField">
              {{ coffee_form.contact_name }}
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="textField">
              {{ coffee_form.contact_email }}
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="textField">
              {{ coffee_form.city }}
            </div>
          </div>
          <div class="col-12">
            <div class="content">
              {{ coffee_form.content }}
            </div>
          </div>
          <div class="col-12 col-md-10">
            <button class="submit btn btn-primary btn-block" name="action" value="Coffee" type="submit">Start the Conversation</button>
          </div>
          <div class="col-12 col-md-2">
            <button id="contact-go-back" class="btn btn-warning btn-block" type="reset">Go Back</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="contact-form-work" class="contact-form-wrapper">
  <div class="container">
    <h1 class="d-none d-md-block text-center">Let's Make Something Beautiful</h1>
    <h3 class="d-md-none text-center">Let's Make Something Beautiful</h3>
    <form role="form" action="" method="post">
      {% csrf_token %}
      <div class="contact-form">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="textField">
              {{ work_form.contact_name }}
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="textField">
              {{ work_form.contact_email }}
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="textField">
              {{ work_form.type }}
            </div>
          </div>
          <div class="col-12">
            <div class="content">
              {{ work_form.content }}
            </div>
          </div>
          <div class="col-12 col-md-10">
            <button class="submit btn btn-primary btn-block" name="action" value="Work" type="submit">Start the Conversation</button>
          </div>
          <div class="col-12 col-md-2">
            <button id="contact-go-back" class="btn btn-warning btn-block" type="reset">Go Back</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="contact-form-other" class="contact-form-wrapper">
  <div class="container">
    <h1 class="d-none d-md-block text-center">Let's Have a Chat</h1>
    <h3 class="d-md-none text-center">Let's Have a Chat</h3>
    <form role="form" action="" method="post">
      {% csrf_token %}
      <div class="contact-form">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="textField">
              {{ other_form.contact_name }}
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="textField">
              {{ other_form.contact_email }}
            </div>
          </div>
          <div class="col-12">
            <div class="content">
              {{ other_form.content }}
            </div>
          </div>
          <div class="col-12 col-md-10">
            <button class="submit btn btn-primary btn-block" name="action" value="Other" type="submit">Start the Conversation</button>
          </div>
          <div class="col-12 col-md-2">
            <button id="contact-go-back" class="btn btn-warning btn-block" type="reset">Go Back</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
