{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{{ block.super }} - Socials Dashbaord
{% endblock title %}

{% block content %}
<div class="container">
  <section id="Dashboard">
      <h1 class="text-center">Dashboard</h1>
      <div class="row">
        <div class="col-12 col-md-4">
          {% if 'error' in instagram_count %}
          <div class="alert alert-danger" role="alert">
            <strong>There has been an error:</strong><br>
            {{ instagram_count }}<br><br>
          </div>
          {% else %}
         <div class="card text-center text-white bg-success mb-3">
            <h5 class="card-header">Instagram Followers</h5>
           <div class="card-body">
             <h2 class="card-title">{{ instagram_count }}</h2>
           </div>
         </div>
         {% endif %}
       </div>
       <div class="col-12 col-md-4">
         {% if 'error' in facebook_count %}
         <div class="alert alert-danger" role="alert">
           <strong>There has been an error:</strong><br>
           {{ facebook_count }}<br><br>
         </div>
         {% else %}
          <div class="card text-center text-white bg-primary mb-3">
             <h5 class="card-header">Facebook Followers</h5>
            <div class="card-body">
              <h2 class="card-title">{{ facebook_count }}</h2>
            </div>
          </div>
         {% endif %}
      </div>
      <div class="col-12 col-md-4">
        {% if 'error' in instagram_likes %}
        <div class="alert alert-danger" role="alert">
          <strong>There has been an error:</strong><br>
          {{ instagram_likes }}<br><br>
        </div>
        {% else %}
         <div class="card text-center text-white bg-warning mb-3">
            <h5 class="card-header">Total Instagram Likes</h5>
           <div class="card-body">
             <h2 class="card-title">{{ instagram_likes }}</h2>
           </div>
         </div>
        {% endif %}
     </div>
     </div>
    </div>
  </section>
</div>
{% endblock content %}
