{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{{ block.super }} - Socials Dashbaord
{% endblock title %}

{% block content %}
<div class="container">
  <section id="Dashboard">
      <h1 class="text-center">Dashboard</h1>
      {% if user.is_superuser %}
        <div class="updater text-right mb-3">
          <form action="{% url 'dashboard' %}" method="post">
            {% csrf_token %}
            <button class="-link btn btn-primary btn-secondary" type="submit">Update Dashboard</button>
          </form>
          Last Update: {{ lastUpdate|timesince }} ago
        </div>
      {% endif %}
      <div class="row">
        <div class="col-12 col-md-4">
          {% if 'error' in instagramFollowers %}
          <div class="alert alert-danger" role="alert">
            <strong>There has been an error:</strong><br>
            {{ instagramFollowers }}<br><br>
          </div>
          {% else %}
         <div class="card text-center text-white bg-success mb-3">
            <h5 class="card-header">Instagram Followers</h5>
           <div class="card-body">
             <h2 class="card-title">{{ instagramFollowers }}</h2>
           </div>
         </div>
         {% endif %}
       </div>
       <div class="col-12 col-md-4">
         {% if 'error' in facebookFollowers %}
         <div class="alert alert-danger" role="alert">
           <strong>There has been an error:</strong><br>
           {{ facebookFollowers }}<br><br>
         </div>
         {% else %}
          <div class="card text-center text-white bg-primary mb-3">
             <h5 class="card-header">Facebook Followers</h5>
            <div class="card-body">
              <h2 class="card-title">{{ facebookFollowers }}</h2>
            </div>
          </div>
         {% endif %}
      </div>
      <div class="col-12 col-md-4">
        {% if 'error' in instagramLikes %}
        <div class="alert alert-danger" role="alert">
          <strong>There has been an error:</strong><br>
          {{ instagramLikes }}<br><br>
        </div>
        {% else %}
         <div class="card text-center text-white bg-warning mb-3">
            <h5 class="card-header">Total Instagram Likes</h5>
           <div class="card-body">
             <h2 class="card-title">{{ instagramLikes }}</h2>
           </div>
         </div>
        {% endif %}
      </div>
      {% for media in instagramPosts %}
      <div class="col-12 col-md-3">
        <div class="card instagram-post">
          <img class="card-img-top" src="{{media.image_url}}" alt="Card image cap">
          <div class="card-body">
            <p class="text-center">
              <i class="fas fa-thumbs-up"></i><strong> {{ media.like_count }} | </strong>
              <i class="fas fa-comments"></i><strong> {{ media.comment_count }} </strong>
            </p>
            <p class="card-text">{{ media.caption|truncatechars:100 }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ media.date_published|naturaltime }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
   </div>
  </section>
</div>
{% endblock content %}
