{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{{ block.super }} - Projects
{% endblock title %}

{% block content %}
<div class="container">
  <section id="portfolio">
    <div class="portfolio-container container">
      <h1 class="header">Portfolio</h1>
      <div class="projects-list row justify-content-center">
      {% for project in portfolio %}
      <div class="col-12 col-md-4">
        <div class="project">
          <a href="/portfolio/{{ project.parsed_client }}">
            <div class="overlay">
              <h3 class="title">{{ project.client }}</h3>
            </div>
          </a>
          <div class="img" style="background-image: url('{{ project.main_image }}');"></div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock content %}
