{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
{{ project.client }} - {{ block.super }}
{% endblock title %}

{% block header %}
  <link rel="canonical" href="https://www.theearthissquare.com/portfolio/{{ project.parsed_client }}/" />
{% endblock header %}

{% block content %}
<div class="project-banner" style="background-image: url('{{ project.banner }}')"></div>
<div id="project" class="container">
  <div class="content-wrapper">
    <div class="project-content">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 text-center back-button">
          <div class="row">
            <div class="col-4">
              <a href="/portfolio/" class="btn btn-primary text-white">Back</a>
            </div>
            <div class="col-8">
              <a href="{{ project.client_website }}" target="_blank" class="btn btn-secondary btn-block">Client Website</a>
            </div>
            <div class="col-12">
              <div class="avatar-frame">
                <img class="img-fluid avatar" src="{{ project.avatar}}" alt="{{ project.client }}"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
          <h1 class="header"><span>{{ project.client }}</span></h1>
          <h2 class="sub-header">{{ project.type }}</h2>
          <p>
            {{ project.description|safe }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
