{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Our Services - {{ block.super }}
{% endblock title %}

{% block header %}
<script>
$(document).ready(function() {
  $('.menu-item.{{ services.0.tag }}').click(function() {
    $('#services-page').switchClass('{{ services.1.tag }}', '{{ services.0.tag }}');
  });
  $('.menu-item.{{ services.1.tag }}').click(function() {
    $('#services-page').switchClass('{{ services.0.tag }}', '{{ services.1.tag }}');
  });
});
</script>
{% endblock header %}

{% block content %}
<section id="services-page">
  <div class="services-menu">
    {% for service in services %}
    <a href="#" class="menu-item {{ service.tag }}">
      <i class="{{ service.fa_icon }} icon"></i>
      <h2 class="header">{{ service.name }}</h2>
    </a>
    {% endfor %}
    <span class="menu-slider"></span>
  </div>
  {% for service in services %}
  <div class="content {{ service.tag }}">
    <h1 class="header"><span>{{ service.name }}<span></h1>
    <div class="description">{{ service.description|safe }}</div>
    <h2 class="sub-header"><span>Can also include:</span></h2>
    <div class="sub-services">
      {% for sub_service in sub_services %}
        {% if sub_service.parent_service == service %}
        <div class="sub-service">
          <i class="{{ sub_service.fa_icon }} fa-3x"></i>
          <h3 class="header">{{ sub_service.name }}</h3>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</section>
{% endblock content %}
