{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{{ block.super }} - Services
{% endblock title %}

{% block content %}
<div class="container">
  <section id="services-page">
    <!-- <h1 class="title">Services</h1> -->
    <div class="row services-list">
      {% for service in services %}
      <div class="col-12 col-md-3 service">
        <div class="service-panel">
          <a href="/services/{{service.parsed_name}}">
            <i class="fa-2x {{ service.fa_icon }} icon"></i><br>
            {{ service.name }}
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock content %}
