{% extends 'base.html' %}
{% load humanize %}
{% load static %}


{% block title %}
{{ block.super }} - The Team
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row profiles-container justify-content-center">
      {% for profile in profiles %}
      <div class="col-12 col-md-5 col-lg-4 profile justify-content-center">
        <div id="frame-{{ profile.id }}" class="frame-overlay">
          <p class="text">Like what you see?</p>
        </div>
        <div class="frame">
          <img class="img-fluid avatar" src="{{ profile.avatar }}" />
        </div>
        <h4 class="name">{{ profile.name }}</h4>
        <p class="role">{{ profile.role }}</p>
      </div>

      <div class="modal fade" id="teamModal-{{ profile.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body container">
              <div class="row">
                <div class="col-12 col-md-4 order-2 order-md-1 modal-left">
                  <div class="frame">
                    <img class="img-fluid avatar" src="{{ profile.avatar }}" />
                  </div>
                  <div class="social row justify-content-center">
                    {% if profile.email != None %}
                    <div class="col-12 email">
                      <a href="mailto:{{ profile.email }}" target="_blank">{{ profile.email }}</a>
                    </div>
                    {% endif %}
                    {% if profile.twitter_username != None %}
                    <div class="col-3">
                      <a href="https://www.twitter.com/{{ profile.twitter_username }}"><i class="fab fa-2x fa-twitter"></i></a>
                    </div>
                    {% endif %}
                    {% if profile.instagram_username != None %}
                    <div class="col-3">
                      <a href="https://www.instagram.com/{{ profile.instagram_username }}"><i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                    {% endif %}
                    {% if profile.linkedin_username != None %}
                    <div class="col-3">
                      <a href="https://www.linkedin.com/in/{{ profile.linkedin_username }}"><i class="fab fa-2x fa-linkedin"></i></a>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="col-12 col-md-8 order-1 order-md-2 modal-right">
                  <h3>{{ profile.name }}<br>
                    <small class="text-muted role">{{ profile.role }}</small>
                  </h3>
                  <p>{{ profile.description|safe }}</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!-- End Modal -->

      <script>
        $(document).ready(function() {
          $('#frame-{{ profile.id }}').click(function() {
            $('#teamModal-{{ profile.id }}').modal('show')
          });
        })
      </script>

      {% endfor %}
  </div>
</div>

{% endblock content %}
