{% extends 'base.html' %}
{% load humanize %}
{% load static %}


{% block title %}
{{ block.super }} - The Team
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row profiles-container justify-content-center">
    {% if profiles.count > 0 %}
      {% for profile in profiles %}
      <div class="col-3 profile">
        <img class="img-fluid avatar" src="{{ profile.avatar.url }}" />
        <h4 class="name">{{ profile.name }}</h4>
        <p class="role">{{ profile.role }}</p>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}
