{% extends 'dashboard_base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
{{ block.super }} - Socials Dashbaord
{% endblock title %}

{% block content %}
<div class="container">
  <section id="dashboard">
    <div class="header-row">
      <div class="row">
        <div class="col-12">
          <div class="header"><h2>Welcome, {{ user.first_name }}</h2></div>
          <!-- <fb:login-button
            class="fb-login-button"
            data-auto-logout-link="false"
            data-button-type="login_with"
            scope="public_profile,email"
            onlogin="checkLoginState();"
            data-use-continue-as="true"
            data-size="medium">
          </fb:login-button>
          <div id="status"></div>
        </div>
        {% if user.is_superuser %}
         <div class="update-button col-12 col-md-2">
          <form action="{% url 'dashboard' %}" method="post">
            {% csrf_token %}
            <button class="-link btn btn-primary btn-secondary" type="submit">Update Dashboard</button>
          </form>
        </div>
        <div class="update-text col-12 col-md-9">
          <small class="text-muted">Last Update: {{ lastUpdate|timesince }} ago</small>
        </div>
        {% endif %} -->
      </div>
    </div>
    <div class="charts-row">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="charts-panel">
            <div class="panel-header -instagram"><i class="fab fa-instagram"></i> Total Instagram Followers (Past 7 Days)</div>
            <div id="ig-followers-chart" class="panel-chart" data-url="{% url 'dashboard_data' type='instagram_followers' seriesName='Total Followers' %}"></div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="charts-panel">
            <div class="panel-header -facebook"><i class="fab fa-facebook"></i> Total Facebook Followers (Past 7 Days)</div>
            <div id="fb-followers-chart" class="panel-chart" data-url="{% url 'dashboard_data' type='facebook_likes' seriesName='Total Followers' %}"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="stats-row">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="panel -small">
            <div class="panel-header -instagram"><i class="fab fa-instagram"></i> Instagram Followers</div>
            <div class="row">
              <div class="panel-content">
                <div class="col-12">
                  <div class="count">
                    <h1>{{ instagramFollowers }}</h1>
                  </div>
                </div>
                <div class="col-12">
                  <div class="gainloss">
                    {% if igFollowersDifference >= 0 %}
                    <small class="positive"><i class="fas fa-caret-up"></i>
                      {% elif igFollowersDifference < 0 %}
                      <small class="negative"><i class="fas fa-caret-down"></i>
                      {% else %}
                      <small class="neutral"><i class="fas fa-square"></i>
                      {% endif %}
                    {{ igFollowersDifference }} followers since yesterday</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
         <div class="col-12 col-md-4">
           <div class="panel -small">
             <div class="panel-header -instagram"><i class="fab fa-instagram"></i> Total Instagram Likes</div>
             <div class="row">
               <div class="panel-content">
                 <div class="col-12">
                   <div class="count">
                     <h1>{{ instagramLikes }}</h1>
                   </div>
                 </div>
                 <div class="col-12">
                   <div class="gainloss">
                     {% if igLikesDifference >= 0 %}
                     <small class="positive"><i class="fas fa-caret-up"></i>
                       {% elif igLikesDifference < 0 %}
                       <small class="negative"><i class="fas fa-caret-down"></i>
                       {% else %}
                       <small class="neutral"><i class="fas fa-square"></i>
                       {% endif %}
                     {{ igLikesDifference }} likes since yesterday</small>
                   </div>
                 </div>
               </div>
             </div>
           </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="panel -small">
            <div class="panel-header -facebook"><i class="fab fa-facebook"></i> Facebook Followers</div>
            <div class="row">
              <div class="panel-content">
                <div class="col-12">
                  <div class="count">
                    <h1>{{ facebookFollowers }}</h1>
                  </div>
                </div>
                <div class="col-12">
                  <div class="gainloss">
                    {% if fbFollowersDifference > 0 %}
                    <small class="positive"><i class="fas fa-caret-up"></i>
                    {% elif fbFollowersDifference < 0 %}
                    <small class="negative"><i class="fas fa-caret-down"></i>
                    {% else %}
                    <small class="neutral"><i class="fas fa-square"></i>
                    {% endif %}
                    {{ fbFollowersDifference }} followers since yesterday</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
